@model f12020.Models.usuario


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.login_usuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.login_usuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.senha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.senha)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_usuario }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
